@import url('https://fonts.googleapis.com/css2?family=Aleo&family=Josefin+Sans:wght@400;700&display=swap');


*,*::after,*::before{
  box-sizing: border-box;
  margin: 0;
  padding:0 ;
}
a{
  text-decoration: none;
}
button{
  border: none;
  cursor: pointer;
}
:root{
--font-main:'Josefin Sans', sans-serif;
--font-secondary:font-family: 'Aleo', serif;


--color-main:#E8E8E8;
--color-white:#ffffff;
--color-accent:#5474FD;
--color-gray:#999999;
--color-dark-charcoal:#333333;
}
body{
  font-family: var(--font-main);
  font-size: 1em;
  font-weight: 400;
  line-height: 26px;
  color: var(--color-main);
}
.wrapper {
  max-width: 1130px;
  padding: 0 10px;
  margin: 0 auto;

}

h1{
  color: var(--color-white);
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 4.8px;
  text-transform: uppercase;
  margin-bottom: 11px;
}
/* Hero section */

#hero-section{
  height: 800px;
  background-image: url(/img/background/1.jpg) ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subtitle{
  color: #FFF;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; 
  letter-spacing: 6.82px;
}
.hero__box {
  text-align: center;
}
.hero__subtitle {
  color: #FFF;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 6.82px;
  
}
.hero__form {
  min-width: 653px;
  margin-top: 48px;
  margin-bottom: 107px;
  display: flex;
}
.hero__form input {
  flex: 2;
  padding:  19px 113px;
  border: none;

}

.hero__form input::placeholder {
  color: var(--color-gray);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px; 
  letter-spacing: 2.8px;
}
.hero__form button{
  flex: 1;
  color: inherit;
  background-color: var(--color-accent);
  text-align: center;
  font-family:var(--font-secondary);
  font-size: 14px;
  font-style: normal;
  line-height: 26px; 
  letter-spacing: 1.4px;
  text-transform: uppercase;
  border: 2px solid var(--color-white);
  padding: 21px 38px 16px 23px;
  
}
.hero__form button > span{
  position: relative;
}
.hero__form button > span::before{
  position: absolute;
  content: url(img/svg/btn-search.svg);
  right: -26px;
  
}

.hero__scroll-down {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* header */
#header{
  background-color: var(--color-accent);
  padding: 32px 0px 25px;
}
.header__wrapper{
  display: flex;
  justify-content: space-between;
}
.header__logo {
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}
.nav__items {
  display: flex;
  gap: 43px;
}
.items__link a{
  color: #FFF;
  font-family: var(--font-secondary);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; 
  text-transform: uppercase;
}
/* Why choose Us */

#whyChooseUs {
  background: url(/img/background/2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 115px 0px ;
 
}
.wcu__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wcu__info {
  max-width:560px ;
  min-width: 260px;
}
.wcu__title {
  color: var(--color-white);
  font-family: var(--font-secondary);
  font-size: 36px;
  line-height: 26px;
  margin-bottom: 50px;
}
.wcu__desc {
  color: var(--color-main);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; 
  letter-spacing: 1.6px;
  margin-bottom: 42px;
}
.wcu__button {
 
  padding: 15px 40px;
  background: rgb(73,107,254);
  background: linear-gradient(45deg, rgba(73,107,254,1) 40%, rgba(84,116,253,1) 40%);
  color: var(--color-white);
  font-family: var(--font-secondary);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; 
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
.wcu__gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 440px;
}
.wcu__gallery img{
  max-width: 350px;
}
.wcu__gallery img:first-child {
 margin-right: 90px;
}
.wcu__gallery img:last-child {
 margin-left: 90px;
}

/* how it work */
#howItWork{
  background-color: var(--color-dark-charcoal);
  padding: 100px 0px 115px;
}
.hiw__wrapper {
  display: flex;
  justify-content: space-around;
  position: relative;

}
.hiw__wrapper::after {
  position: absolute;
  content: url(./img/svg/line.svg);
  z-index: 1;
  top: -25px;
  max-width: 777px;
}
.hiw__col {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}
.hiw__col-circle{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background-color: var(--color-dark-charcoal);
}
.hiw__col img{
  width: 60px;
  height: 60px;
}
.hiw__col-title {
  font-family: var(--font-secondary);
  font-size: 36px;
  line-height: 26px; 
}