@import url('https://fonts.googleapis.com/css2?family=Aleo&family=Josefin+Sans:wght@400;700&display=swap');


*,*::after,*::before{
  box-sizing: border-box;
  margin: 0;
  padding:0 ;
}
a{
  text-decoration: none;
}
:root{
--font-main:'Josefin Sans', sans-serif;
--font-secondary:font-family: 'Aleo', serif;


--color-main:#E8E8E8;
--color-white:#ffffff;
--color-accent:#5474FD;
--color-gray:#999999;

}
body{
  font-family: var(--font-main);
  font-size: 1em;
  font-weight: 400;
  line-height: 26px;
  color: var(--color-main);
}
.wrapper {
  max-width: 1130px;
  padding: 0 10px;
  margin: 0 auto;

}
h1{
  color: var(--color-white);
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 4.8px;
  text-transform: uppercase;
  margin-bottom: 11px;
}
/* Hero section */

#hero-section{
  width: 100vw;
  height: 800px;
  background-image: url(/img/background/1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subtitle{
  color: #FFF;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; 
  letter-spacing: 6.82px;
}
.hero__box {
  text-align: center;
}
.hero__subtitle {
  color: #FFF;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 6.82px;
  
}
.hero__form {
  min-width: 653px;
  margin-top: 48px;
  margin-bottom: 107px;
  display: flex;
}
.hero__form input {
  flex: 2;
  padding:  19px 113px;
  border: none;

}

.hero__form input::placeholder {
  color: var(--color-gray);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px; 
  letter-spacing: 2.8px;
}
.hero__form button{
  flex: 1;
  color: inherit;
  background-color: var(--color-accent);
  text-align: center;
  font-family:var(--font-secondary);
  font-size: 14px;
  font-style: normal;
  line-height: 26px; 
  letter-spacing: 1.4px;
  text-transform: uppercase;
  border: 2px solid var(--color-white);
  padding: 21px 38px 16px 23px;
  
}
.hero__form button > span{
  position: relative;
}
.hero__form button > span::before{
  position: absolute;
  content: url(img/svg/btn-search.svg);
  right: -26px;
  
}

.hero__scroll-down {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* header */
#header{
  background-color: var(--color-accent);
  padding: 32px 0px 25px;
}
.header__wrapper{
  display: flex;
  justify-content: space-between;
}
.header__logo {
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}
.nav__items {
  display: flex;
  gap: 43px;
}
.items__link a{
  color: #FFF;
  font-family: var(--font-secondary);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; 
  text-transform: uppercase;
}