@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

@font-face {
  font-family:"Aleo" ;
  src: url(./fonts/Aleo-Regular.otf);
}
*,*::after,*::before{
  box-sizing: border-box;
  margin: 0;
  padding:0 ;
}
a{
  text-decoration: none;
}
section{
  overflow-x: hidden;
}
button{
  border: none;
  cursor: pointer;
}
.none{
  display: none;
}
:root{
--font-main:'Josefin Sans', sans-serif;
--font-secondary:'Aleo', serif;


--color-main:#E8E8E8;
--color-white:#ffffff;
--color-accent:#5474FD;
--color-gray:#999999;
--color-dark-charcoal:#333333;
}
body{
  font-family: var(--font-main);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.625em;
  color: var(--color-main);
}
.wrapper {
  max-width: 1130px;
  padding: 0 10px;
  margin: 0 auto;

}

h1{
  color: var(--color-white);
  text-align: center;
  font-size: 3em;
  font-weight: 700;
  line-height: 1.625em;
  letter-spacing: 4.8px;
  text-transform: uppercase;
  margin-bottom: 11px;
}
/* Hero section */

#hero{
  height: 800px;
  background-image: url(/img/background/1.jpg) ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
 
  
}
.subtitle{
  color: #FFF;
  font-size: 1.375em;
  font-style: normal;
  font-weight: 400;
  line-height:1.625em; 
  letter-spacing: 6.82px;
}
.hero__box {
  text-align: center;
}
.hero__subtitle {
  color: #FFF;
  text-align: center;
  font-size: 1.375em;
  font-weight: 400;
  line-height: 1.625em;
  letter-spacing: 6.82px;
  
}
.hero__form {
  min-width: 653px;
  margin-top: 48px;
  margin-bottom: 107px;
  display: flex;
}
.hero__form input {
  flex: 2;
  padding:  19px 113px;
  border: none;

}

.hero__form input::placeholder {
  color: var(--color-gray);
  text-align: center;
  font-size: 0.875em;
  font-weight: 400;
  line-height: 1.625em; 
  letter-spacing: 2.8px;
}
.hero__form button{
  flex: 1;
  color: inherit;
  background-color: var(--color-accent);
  text-align: center;
  font-family:var(--font-secondary);
  font-size: 0.875em;
  font-style: normal;
  line-height: 1.625em; 
  letter-spacing: 1.4px;
  text-transform: uppercase;
  border: 2px solid var(--color-white);
  padding: 21px 38px 16px 23px;
  
}
.hero__form button > span{
  position: relative;
}
.hero__form button > span::before{
  position: absolute;
  content: url(img/svg/btn-search.svg);
  right: -1.625em;
  
}

.hero__scroll-down {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	-moz-animation: bounce 2s infinite;
	-o-animation: bounce 2s infinite;
}
/* header */
#header{
  background-color: var(--color-accent);
  padding: 32px 0px 25px;
}

.header__wrapper{
  display: flex;
  justify-content: space-between;
}
.header__logo {
  color: #FFF;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 700;
  line-height: 1.625em;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}
.nav__items {
  display: flex;
  gap: 43px;
}
.items__link a{
  color: #FFF;
  font-family: var(--font-secondary);
  font-size: 0.875em;
  font-style: normal;
  line-height: 1.625em; 
  text-transform: uppercase;
  transition: all 0.4s ease;
}
.items__link a:hover,.items__link a:focus{
  color: var(--color-dark-charcoal)
}

/* Why choose Us */

#whyChooseUs {
  background: url(/img/background/2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 115px 0px ;
 
}
.wcu__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}
.wcu__info {
  max-width:560px ;
  min-width: 260px;
}
.wcu__title {
  color: var(--color-white);
  font-family: var(--font-secondary);
  font-size: 2.25em;
  line-height: 1.625em;
  margin-bottom: 50px;
}
.wcu__desc {
  color: var(--color-main);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.625em; 
  letter-spacing: 1.6px;
  margin-bottom: 42px;
}
.wcu__button {
 
  padding: 15px 40px;
  background: rgb(73,107,254);
  background: linear-gradient(45deg, rgba(73,107,254,1) 40%, rgba(84,116,253,1) 40%);
  color: var(--color-white);
  font-family: var(--font-secondary);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.625em; 
  letter-spacing: 1.2px;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
}
.wcu__button:hover,.wcu__button:focus{
  background: linear-gradient(45deg, rgba(73,107,254,1) 70%, rgba(84,116,253,1) 70%);
  scale: 1.1;
}
.wcu__gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 440px;
}
.wcu__gallery img{
  max-width: 350px;
}
.wcu__gallery img:first-child {
 margin-right: 90px;
}
.wcu__gallery img:last-child {
 margin-left: 90px;
}

/* how it work */
#howItWork{
  background-color: var(--color-dark-charcoal);
  padding: 100px 0px 115px;
}
.hiw__wrapper {
  display: flex;
  justify-content: space-around;
  position: relative;
  flex-wrap: wrap;

}
.hiw__wrapper::after {
  position: absolute;
  content: url(./img/svg/line.svg);
  z-index: 1;
  top: -25px;
  max-width: 777px;
}
.hiw__col {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}
.hiw__col-circle{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background-color: var(--color-dark-charcoal);
}
.hiw__col img{
  width: 60px;
  height: 60px;
}
.hiw__col-title {
  font-family: var(--font-secondary);
  font-size: 2.25em;
  line-height: 1.625em; 
}

/* Sections country (2 section)*/
#country-1{
  background: url(./img/background/3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#country-2{
  background: url(./img/background/4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.country__wrapper {
  height: 700px;
  position: relative;
}
.country__info {
  max-width: 543px;
  background: var(--color-dark-charcoal);
  opacity: .9;
  padding: 49px 39px 50px 32px;

}
.left {
  position: absolute;
  left: 0;
  bottom: 100px;
}
.right {
  position: absolute;
  right: 0;
  bottom: 100px;
}
.country__suptitle {
  color: var(--color-main);
  font-size: 1.25em;
  line-height: 1.625em; 
  letter-spacing: 1.5px;
  margin-bottom: 23px;
}
.country__title {
  color: var(--color-white);
  font-size: 1.25em;
  line-height: 1.625em; 
  text-transform: uppercase;
  margin-bottom: 13px;
}
.country__desc {
  color: var(--color-main);
  font-size: 1em;
  line-height: 1.625em;  
  margin-bottom: 46px;
}
.country__btn {
  padding: 15px 40px;
  background: rgb(73,107,254);
  background: linear-gradient(45deg, rgba(73,107,254,1) 40%, rgba(84,116,253,1) 40%);
  color: var(--color-white);
  font-family: var(--font-secondary);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.625em; 
  letter-spacing: 1.2px;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
}
.country__btn:hover,.country__btn:focus{
  transform: translateY(-5px);
  background: linear-gradient(45deg, rgba(73,107,254,1) 50%, rgba(84,116,253,1) 70%);
}

/* testimonial */
#testimonial{
  background: url(./img/background/5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 128px 0px 200px;
}

.testimonial__title {
  color: var(--color-white);
  text-align: center;
  font-family: var(--font-secondary);
  font-size: 2.25em;
  line-height: 1.625em; 
  margin-bottom: 91px;
}
.testimonial__wrapper {
  display: flex;

}
.testimonial__img {
  max-width: 445px;
  min-width: 280px;
  height: 100%;
}

.testimonial__info {
  background: var(--color-dark-charcoal);
  padding: 49px 25px 39px 62px;
  max-width: 668px;
}
.testimonial__info-title {
  color: #FEFEFE;
  font-size: 1.25em;
  line-height: 1.625em;
  text-transform: uppercase;
}
.testimonial__info-desc {
  color: var(--color-main);
  font-size: 1em;
  line-height: 1.625em;
}
/* footer */
#footer{
  padding: 122px 0px 47px;
  background-color: #232323;
  color: var(--color-white);
}
.footer__wrapper {
  text-align: center;
}
.footer__logo {
  color: var(--color-white);
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.625em; 
  letter-spacing: 3.36px;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.footer__suptitle {
  color: var(--color-white);
  font-size: 1em;
  line-height: 1.625em; 
  letter-spacing: 1.6px;
  margin-bottom: 1em;
}
.footer__social-icon{
  fill: var(--color-main);
}
.footer__social-icon:hover{
  fill: var(--color-accent);
}
.footer__social-icon:focus{
  fill: var(--color-accent);
}

/* header burger menu */
.nav-icon-btn {
	--time: 0.1s;
	--width: 48px;
	--height: 30px;
	--line-height: 2px;
  --line-margin: 2;
	

	height: var(--height);
	width: var(--width);
	display: flex;
	justify-content: center;
	align-items: center;
  background-color: var(--color-accent);
}

.nav-icon {
	position: relative;
	width: var(--width);
	height: var(--line-height);
	background-color: var(--color-white);
}

.nav-icon::before,
.nav-icon::after {
	content: '';
	display: block;

	position: absolute;
	left: 0;

	width: var(--width);
	height: var(--line-height);

	background-color: var(--color-white);
	transition: transform var(--time) ease-in,
		top var(--time) linear var(--time);
}

.nav-icon::before {
	top: calc(var(--line-height) * -8);
}

.nav-icon::after {
	top: calc(var(--line-height) * 8);
}

.nav-icon.nav-icon--active {
	background-color: transparent;
  position: absolute;
  right: 10px;
  top: 45px;
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
	top: 0;
	transition: top var(--time) linear,
		transform var(--time) ease-in var(--time);
}

.nav-icon.nav-icon--active::before {
	transform: rotate(45deg);
}

.nav-icon.nav-icon--active::after {
	transform: rotate(-45deg);
}
.header-nav__btn{
	display: none;
}
.no-scroll{
	overflow-y: hidden;
}

/* animation */
@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}	
	40% {-webkit-transform: translateY(-30px);}
	60% {-webkit-transform: translateY(-15px);}
}
 
@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
	40% {-moz-transform: translateY(-30px);}
	60% {-moz-transform: translateY(-15px);}
}
 
@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
	40% {-o-transform: translateY(-30px);}
	60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}

/* cookie */
.cookie_notice {
  display: none;
  position: fixed;
  z-index: 9999999;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 15px;
  font-family: Verdana, sans-serif;  
  color: var(--color-white);
  background: var(--color-dark-charcoal);
  padding: 10px 20px; 

}

.cookie_btn {
  display: inline-block;
  margin: 10px 6px 4px 6px;
  text-decoration: none;
  position: relative;
  font-size: 13px;
  padding: 4px 12px;
  color:var(--color-white);
  font-weight: bold;
  text-transform: uppercase; 
  background: var(--color-accent);
  border: 2px solid var(--color-accent);
}
.cookie_btn:hover {
  color: var(--color-white);
}
.cookie_btn:focus {
  color: var(--color-white);
}
.cookie_btn:after,
.cookie_btn:before {
  position: absolute;
  height: 2px;
  left: 50%;
  background: var(--color-white);
  bottom: -6px;
  content: "";
  transition: all 280ms ease-in-out;
  width: 0;
}
.cookie_btn:before {
  top: -6px;
}
.cookie_btn:hover:after,
.cookie_btn:hover:before {
  width: 100%;
  left: 0;
}
.cookie_btn:focus:after,
.cookie_btn:focus:before {
  width: 100%;
  left: 0;
}

/* media */
@media screen and (max-width: 1160px) {
  .hiw__wrapper::after{
    display: none;
  }
  .testimonial__wrapper{
    display: block;
  }
  .testimonial__img{
    display: none;
  }
  .testimonial__info{
    background-image: url(./img/base/3.jpg);
    max-width: 100%;
    aspect-ratio: 10/3;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
  }
  .testimonial__info-title{
    backdrop-filter: blur(10px);
    color: var(--color-dark-charcoal);
  }
  .testimonial__info-desc{
    backdrop-filter: blur(10px);
    color: var(--color-white)
  }
}
@media screen and (max-width: 770px) {
 .header__wrapper{
  flex-wrap: wrap;

  justify-content: center;
 gap: 10px;
 }
 .nav__items{
  flex-wrap:wrap ;
  justify-content: center;
 }
 .wcu__wrapper{
  flex-direction: column;
 }
 .wcu__gallery img:first-child,.wcu__gallery img:last-child{
  margin: 0;
  width: 100%;
 }
 .wcu__button{
  width: 100%;
  padding: 15px 0px;
 }
 
 
}

@media screen and (max-width: 685px) {
  #header{
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 3;

  }
  #hero{
    height: 900px
  }
  .nav__items{
    gap: 20px;
  }
  .hero__form{
  flex-direction: column;
  min-width: 100px;
  }
  .hero__form input{
    padding: 20px;

  }
 .hero__form button{
  padding: 20px;
 }
  .hero__box{
  width: 100%;
  }
}

@media screen and (max-width:500px) {
  h1{
    font-size: 2em;
  }
  .country__wrapper{
    height: 600px;
    transition: all 0.5s linear;
  }
  #howItWork{
    padding-top: 0px;
  }
  #hero{
    height: 700px;
    transition: all 0.5s linear;
  }
  .header-nav__btn{
    display: flex;
  }
  .nav__items{
    display: none;
    font-size: 38px;
    text-align: center;
  }
  .header__wrapper{
    justify-content: space-between;
  }
  }